html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 10px;
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 10px;
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;

}

.myAppDemoWTProductRating {
	padding: 0.75rem;
}
.myAppDemoWTProductRating .sapMRI {
	vertical-align: initial;
}